{% extends 'student/student_base.html' %}
{% load static %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/student_base.css' %}">
  <link rel="stylesheet" href="{% static 'css/cancel_modal.css' %}">
  <link rel="stylesheet" href="{% static 'css/edit_student_profile.css' %}">
{% endblock %}

{% block student_content %}
<div class="edit-profile-container">

  <!-- Avatar editable -->
  <div class="avatar-edit-wrapper">
    <div class="avatar-edit-circle">
      <img src="{% static 'img/student.png' %}" alt="Avatar del estudiante" class="avatar-edit-img">
      <label for="avatar-upload" class="avatar-edit-icon">
        <i data-lucide="camera"></i>
      </label>
      <input type="file" id="avatar-upload" name="avatar" accept="image/*" hidden>
    </div>
    <label for="avatar-upload" class="avatar-edit-text">Change profile picture</label>
  </div>

  <!-- Formulario -->
  <form method="POST" action="{% url 'edit_student_profile' %}" class="edit-profile-form">
    {% csrf_token %}

    <div class="form-grid-3">
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ request.user.nombre_pila }}" class="form-control">
      </div>

      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ request.user.apellidoPaterno }} {{ request.user.apellidoMaterno }}" class="form-control">
      </div>

      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" value="{{ request.user.edad }}" class="form-control">
      </div>
    </div>

    <div class="form-grid-3">
      <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" value="{{ request.user.correo }}" class="form-control">
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <div class="password-field">
          <input type="password" id="password" name="password" value="{{ request.user.contrasena }}" class="form-control">
          <button type="button" class="toggle-password" data-target="password">
            <i data-lucide="eye"></i>
          </button>
        </div>
      </div>

      <div class="form-group">
        <label for="role">Role:</label>
        <input type="text" id="role" value="{{ request.user.tipo_usuario.nombre }}" class="form-control" disabled>
      </div>
    </div>

    <!-- Acciones -->
    <div class="edit-profile-actions">
      <button type="button" class="btn btn-cancel" data-bs-toggle="modal" data-bs-target="#cancelModal">CANCEL</button>
      <button type="submit" class="btn btn-save">SAVE CHANGES</button>
    </div>
  </form>

  {% include 'base/cancel_modal.html' with avatar_img='img/student.png' cancel_url='student_profile' %}

</div>
{% endblock %}