{% extends 'administrator/admin_base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_profile.css' %}">
{% endblock %}

{% block title %}Admin Profile - Spell-Challenge Admin{% endblock %}

{% block admin_content %}
<div class="profile-header">
    <div class="avatar-large">
        {% if admin.avatar_url %}
            <img src="{{ admin.avatar_url }}" alt="Profile Picture">
        {% else %}
            <span class="avatar-initials">{{ admin.first_name|first }}{{ admin.last_name|first }}</span>
        {% endif %}
    </div>
    <div class="profile-header-info">
        <h1 class="profile-name">{{ admin.first_name }} {{ admin.last_name }}</h1>
        <p class="profile-subtext">{{ admin.age }} YEARS</p>
        <p class="profile-subtext">Administrator</p>
    </div>
</div>

<div class="profile-form">
    <div class="form-row-2">
        <div class="form-field">
            <label>First Name</label>
            <input type="text" class="form-input" value="{{ admin.first_name }}" readonly>
        </div>
        <div class="form-field">
            <label>Last Name</label>
            <input type="text" class="form-input" value="{{ admin.last_name }}" readonly>
        </div>
    </div>

    <div class="form-row-2">
        <div class="form-field">
            <label>Email Address</label>
            <input type="email" class="form-input" value="{{ admin.email }}" readonly>
        </div>
        <div class="form-field">
            <label>Role</label>
            <input type="text" class="form-input" value="Administrator" readonly>
        </div>
    </div>

    <h2 class="section-title">ACCOUNT SETTINGS</h2>

    <div class="profile-actions">
        <a href="{% url 'edit_admin_profile' %}" class="btn btn-edit">EDIT PROFILE</a>
        <button type="button" class="btn btn-logout" data-bs-toggle="modal" data-bs-target="#logoutModal">LOG OUT</button>
    </div>
</div>
{% endblock %}