{% extends 'administrator/admin_base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_profile.css' %}">
{% endblock %}

{% block title %}Admin Profile - Spell-Challenge Admin{% endblock %}

{% block admin_content %}
<div class="profile-header">
    <div class="avatar-large">
        <span class="avatar-initials">
            {{ admin.nombre_pila|first }}{{ admin.apellidoPaterno|first }}
        </span>
    </div>
    <div class="profile-header-info">
        <h1 class="profile-name">
            {{ admin.nombre_pila }} {{ admin.apellidoPaterno }}
            {{ admin.apellidoMaterno|default:"" }}
        </h1>
        <p class="profile-subtext">Administrator</p>
    </div>
</div>

<div class="profile-form">
    <div class="form-row-2">
        <div class="form-field">
            <label>First Name</label>
            <input type="text" class="form-input" value="{{ admin.nombre_pila }}" readonly>
        </div>
        <div class="form-field">
            <label>Last Name</label>
            <input type="text" class="form-input" value="{{ admin.apellidoPaterno }} {{ admin.apellidoMaterno }}" readonly>
        </div>
    </div>

    <div class="form-row-2">
        <div class="form-field">
            <label>Email Address</label>
            <input type="email" class="form-input" value="{{ admin.usuario.correo }}" readonly>
        </div>
        <div class="form-field">
            <label>Role</label>
            <input type="text" class="form-input" value="Administrator" readonly>
        </div>
    </div>

    <h2 class="section-title">ACCOUNT SETTINGS</h2>

    <div class="profile-actions">
        <a href="{% url 'edit_admin_profile' %}" class="btn btn-edit">EDIT PROFILE</a>
        <button type="button" class="btn btn-logout" data-bs-toggle="modal" data-bs-target="#logoutModal">LOG OUT</button>
    </div>
</div>
{% endblock %}